.experience {
  width: 100%;
  height: auto;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 8px var(--secondary);
  background-color: var(--color1);
}

.experience_header {
  font-size: 2rem;
  letter-spacing: 0.15rem;
}

.experience_text_box {
  width: 100%;
  height: 100%;
}

.experience_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.left {
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left p{
  font-size: 1.2rem;
}

.right {
  width: 100%;
  height: 100%;
  flex: 2;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.right h1{
  font-size: 1.5rem;
  color: var(--color2);
}

.right i{
  font-size: 1.2rem;
  color: var(--color3);
}